@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --display-in-light-mode: block;
        --display-in-dark-mode: none;

        --white: 255 255 255;
        --black: 0 0 0;

        --electric-violet-50: 245 240 255;
        --electric-violet-100: 237 228 255;
        --electric-violet-200: 221 205 255;
        --electric-violet-300: 197 166 255;
        --electric-violet-400: 171 115 255;
        --electric-violet-500: 148 59 255;
        --electric-violet-600: 140 20 255;
        --electric-violet-700: 128 0 255;
        --electric-violet-800: 108 1 214;
        --electric-violet-900: 89 3 175;
        --electric-violet-950: 54 0 119;

        --azure-radiance-50: 237 251 255;
        --azure-radiance-100: 214 243 255;
        --azure-radiance-200: 181 237 255;
        --azure-radiance-300: 131 228 255;
        --azure-radiance-400: 72 210 255;
        --azure-radiance-500: 30 181 255;
        --azure-radiance-600: 6 152 255;
        --azure-radiance-700: 0 132 255;
        --azure-radiance-800: 8 100 197;
        --azure-radiance-900: 13 86 155;
        --azure-radiance-950: 14 52 93;

        --snow-flurry-50: 237 255 230;
        --snow-flurry-100: 224 255 214;
        --snow-flurry-200: 174 255 151;
        --snow-flurry-300: 123 251 91;
        --snow-flurry-400: 81 241 42;
        --snow-flurry-500: 46 215 11;
        --snow-flurry-600: 31 172 4;
        --snow-flurry-700: 25 131 8;
        --snow-flurry-800: 25 103 13;
        --snow-flurry-900: 24 87 16;
        --snow-flurry-950: 6 49 2;

        --neutral-50: 246 246 246;
        --neutral-100: 231 231 231;
        --neutral-200: 209 209 209;
        --neutral-300: 176 176 176;
        --neutral-400: 136 136 136;
        --neutral-500: 109 109 109;
        --neutral-600: 93 93 93;
        --neutral-700: 79 79 79;
        --neutral-800: 69 69 69;
        --neutral-900: 61 61 61;
        --neutral-950: 28 28 28;

        --color-default-text: var(--neutral-900);
        --color-default-bg: var(--white);
        --color-primary-text: var(--electric-violet-950);
        --color-primary-content-bg: var(--electric-violet-200);
        --color-primary-content-bg-hover: var(--electric-violet-300);
        --color-primary-focus: var(--electric-violet-600);
    }

    .theme-1 {
        --color-default-text: var(--neutral-900);
        --color-default-bg: var(--white);
        --color-primary-text: var(--azure-radiance-950);
        --color-primary-content-bg: var(--azure-radiance-200);
        --color-primary-content-bg-hover: var(--azure-radiance-300);
        --color-primary-focus: var(--azure-radiance-600);
    }

    .theme-2 {
        --color-default-text: var(--neutral-900);
        --color-default-bg: var(--white);
        --color-primary-text: var(--snow-flurry-950);
        --color-primary-content-bg: var(--snow-flurry-300);
        --color-primary-content-bg-hover: var(--snow-flurry-400);
        --color-primary-focus: var(--snow-flurry-500);
    }

    .theme-muted {
        --color-default-text: var(--neutral-900);
        --color-default-bg: var(--white);
        --color-primary-text: var(--neutral-950);
        --color-primary-content-bg: var(--neutral-100);
        --color-primary-content-bg-hover: var(--neutral-200);
        --color-primary-focus: var(--neutral-600);
    }

    .dark {
        --display-in-light-mode: none;
        --display-in-dark-mode: block;

        --color-default-text: var(--neutral-50);
        --color-default-bg: var(--black);
        --color-primary-text: var(--electric-violet-50);
        --color-primary-content-bg: var(--electric-violet-800);
        --color-primary-content-bg-hover: var(--electric-violet-900);
        --color-primary-focus: var(--electric-violet-400);
    }

    .dark .theme-1 {
        --color-default-text: var(--neutral-50);
        --color-default-bg: var(--black);
        --color-primary-text: var(--azure-radiance-50);
        --color-primary-content-bg: var(--azure-radiance-800);
        --color-primary-content-bg-hover: var(--azure-radiance-900);
        --color-primary-focus: var(--azure-radiance-400);
    }

    .dark .theme-2 {
        --color-default-text: var(--neutral-50);
        --color-default-bg: var(--black);
        --color-primary-text: var(--snow-flurry-50);
        --color-primary-content-bg: var(--snow-flurry-800);
        --color-primary-content-bg-hover: var(--snow-flurry-900);
        --color-primary-focus: var(--snow-flurry-400);
    }

    .dark .theme-muted {
        --color-default-text: var(--neutral-50);
        --color-default-bg: var(--black);
        --color-primary-text: var(--neutral-50);
        --color-primary-content-bg: var(--neutral-900);
        --color-primary-content-bg-hover: var(--neutral-800);
        --color-primary-focus: var(--neutral-400);
    }
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.card {
    padding: 2em;
}

#app {
    width: 100%;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
